@model TODOListAP03.Models.Resourcen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Resourcen</h4>
    <hr />
    <dl class="dl-horizontal">
        @* We add the Resource ID to the view
        *@
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        @* We postbone the Todos IDs list for now and 
            implement a partial view later HERE 
            TODO partial view on Todos 
        *@

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "IndexVM")
</p>
